<div class="text-holder">
  <input 
    id="text-{{fieldslug}}"
    type="text" 
    name="{{name}}" 
    spellcheck="false"
    value="{{default}}"
    /> 
  <label for="text-{{fieldslug}}">{{label}}</label>
</div>